---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.tsx";
const pageTitle = "CloudWay Blog";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<Layout title={pageTitle}>
  <div class="max-w-5xl mx-auto p-6 space-y-4">
    <p class="text-lg leading-relaxed">
      This is the CloudWay blog. We write about our experiences with new
      technologies, and share our knowledge with the community.
    </p>
    <ul class="space-y-3">
      {
        allPosts.map((post) => (
          <BlogPost url={post.url ?? ""} title={post.frontmatter.title} />
        ))
      }
    </ul>
  </div>
</Layout>
