---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card group">
  <a
    href={href}
    class="block w-full text-white p-6 rounded-lg bg-card-dark opacity-80 hover:opacity-100 transition-all duration-300"
  >
    <h2 class="text-xl mb-2">
      {title}
      <span class="ml-2">&rarr;</span>
    </h2>
    <p>{body}</p>
  </a>
</li>
